.button {
    display: inline-block;
}
.button > span {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 2px 31px 0px 31px;
    height: 72px;
    background-color: var(--very-dark-blue);
    color: white;
    white-space: nowrap;
    transition: all 0.3s;      
}
.button svg {
    margin-left: 25px;
}

.button > span:hover {
    background-color: var(--dark-grey);
}

@media (max-width: 300px) {
    .button > span {
        padding: 0px 16px;
    } 
    .button svg {
        margin-left: 12px;
    }
}