#connect {
    margin-top: 166px;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
}

#connect h2 {
    width: 350px;
}

#connect-form {
    width: 730px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#connect input {
    margin-bottom: 45px;
    padding: 0px 0px 19px 34.5px;
}

#connect textarea {
    padding-left: 34.5px;
    height: 90px;
}

#connect-form input, textarea {
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: var(--very-dark-blue);
    font-size: 20px;
    letter-spacing: -0.312px;
    width: 100%;
    border: none;
    box-shadow: 0px -1px 0px var(--very-dark-blue) inset;
    transition: 0.3s;
}

#connect-form .active-input-error {
    box-shadow: 0px -1px 0px var(--red-error) inset;
}

#connect-form .active-input-error::placeholder {
    color: var(--red-error);
    opacity: 0.5;
}

#connect-form textarea {
    resize: none;
}

#connect-form input::placeholder {
    color: var(--light-grey);
}

#connect-form textarea::placeholder {
    color: var(--light-grey);
}

#connect-form textarea:focus, input:focus {
    outline: none;
    box-shadow: 0px -3px 0px var(--very-dark-blue) inset !important;
}

#connect-form #msg-send-sucess {
    position: absolute;
    left: 34.5px;
    bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #6B8E23;
    opacity: 0;
    transition: 0.3s;
}

#connect-form button {
    margin-top: -8px; /* hack ? */ 
    align-self: flex-end;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: var(--very-dark-blue);
    width: 80px;
    height: 80px;
    transition: 0.3s;
} 

#connect-form button:focus {
    outline: none;    
} 

#connect-form button:hover {
    background-color: var(--dark-grey);
}

#connect-form > div  {
    position: relative;
}

#connect-form > div .msg-error {
    /*display: none;*/
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.234px;
    right: 16px;
    top: 10px;
    color: var(--red-error);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

#connect-form > div .active-msg-error {
    /*display: initial;*/
    opacity: 1;
}


@media (max-width: 1150px) {
    #connect {
        margin-top: 205px;
        flex-direction: column;
        margin-bottom: 200px;
    }   
    #connect h2 {
        width: 100%;
        margin-bottom: 62px;
    }
    #connect-form {
        width: 100%;
    }     
}

@media (max-width: 730px) {
    #connect {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media (max-width: 600px) {
    #connect {
        margin-top: 77px;
        margin-bottom: 132px;
    }
    #connect h2 {
        margin-bottom: 48px;
    }
}

@media (max-width: 430px) {
    #connect h2 {
        max-width: 250px;
    }
}

@media (max-width: 380px) {
    #connect-form #msg-send-sucess {
        bottom: -55px;
    }
}