#about-us {
    margin: 0px 165px;
}

#about-us p {
    word-spacing: 0.8px;
}

@media (max-width: 1325px) {
    #about-us {
        margin: 0px 97.5px;
    }   
}

@media (max-width: 785px) {
    #about-us {
        margin-left: calc(97.5px - (785px - 100vw));
        margin-right: calc(97.5px - (785px - 100vw));
    }
}

@media (max-width: 730px) {
    #about-us {
        margin: 32px;
    }
}

@media (max-width: 654px) {
    #about-us {
        margin: 0px;
    }
}