#location-design {
    width: 25px;
    height: 265px;
    position: absolute;
    left: 64px;
    top:0px;  
    display: flex;
    justify-content: space-between; 
    writing-mode: vertical-lr;
}
#location-design span:first-of-type::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 104px;
    background-color: var(--light-grey);
    
}
#location-design span:last-of-type {
    color: var(--light-grey);
    line-height: 22px;
    letter-spacing: 15px;
}

@media (max-width: 1325px) {
    #location-design {
        left: 39px;
    }
}

@media (max-width: 784px) {
    #location-design {
        left: calc(55px - (784px - 100vw));
    }    
}

@media (max-width: 730px) {
    #location-design {
        display: none;
    } 
}