header {
    height: 152px;
    padding: 56px 0px 56px 164px;
}

header > div {
    height: 40px;
    display: flex;
    align-items: center;
}

ul {
    margin-left: 94px;
}

ul li {
    display: inline;    
}

ul li:nth-child(1) {
    margin-right: 56px;
}
ul li:nth-child(2) {
    margin-right: 48px;
}

ul a {
    font-weight: bold;
    color: var(--medium-grey);
    transition: 0.3s;
}

ul a:hover {
    color: var(--very-dark-blue);
}

@media (max-width: 1325px) {
    header {
        padding-left: 97px;
    }
    ul {
        margin-left: 78px;
    }
}

@media (max-width: 784px) {
    header {
        padding-left: calc(97px - (784px - 100vw));
    }    
}

@media (max-width: 730px) {
    header {
        /*position: relative;*/
        padding: 32px; 
        height: 96px;
    }
    header > div {
        height: 32px;
        display: flex;
        justify-content: space-between;
    }
    #logo {
        height: 32px;
    }

    #menuH {
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 17px;
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
    #menuH span,
    #menuH span::after,
    #menuH span::before {
        content:"";
        width: 24px;
        height: 3px;
        background-color:var(--very-dark-blue);
        display:block;  
    }
    #menuH span::after,
    #menuH span::before{
        position:absolute;
        transition: transform 0.3s; 
    }
    #menuH span::after {
        bottom: 0px;  
    }
    #menuH span::before {
        top: 0px;
    }
    #menuH.is-active span{
        width: 21px; /* error model ? adjust */
        background-color:transparent;
    }
    #menuH.is-active  span:after {
        transform:rotate(-45deg) translateY(-7px) translateX(3px);
    }
    #menuH.is-active  span:before {
        transform:rotate(45deg) translateY(7px) translateX(3px);
    }

    #menu {
        position: absolute;
        z-index: 10;
        top: 96px;
        bottom:0;
        right:0;
        width: 0;
        height: 100%;
        transition: all 0.3s;
    }

    #menu.is-open {
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    ul {
        font-size: 18px;
        height: 235px;
        background-color: var(--very-light-grey);
        width: calc(100% - 32px);
        margin-left: 32px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0px 46px 0px;
    }
    ul li {
        margin-left: 48px;
    }
}