header {
    height: 152px;
    padding: 56px 0px 56px 164px;
}

header > div {
    height: 40px;
    display: flex;
    align-items: center;
}

header > div:first-of-type a {
    height: 40px;
}

header ul {
    margin-left: 94px;
}

header ul li {
    display: inline;    
}

header ul li:nth-child(1) {
    margin-right: 56px;
}
header ul li:nth-child(2) {
    margin-right: 48px;
}

header ul a {
    font-weight: bold;
    color: var(--medium-grey);
}

header ul a:hover {
    color: var(--very-dark-blue);
    transition: color 0.3s;
}

#menu .link-activated {
    padding-bottom: 11px;
    background: bottom right 40% no-repeat linear-gradient(var(--medium-grey),var(--medium-grey));
    background-size: 24px 1px;
    color: var(--very-dark-blue);
}

@media (max-width: 1325px) {
    header {
        padding-left: 97px;
    }
    header ul {
        margin-left: 78px;
    }
}

@media (max-width: 784px) {
    header {
        padding-left: calc(97px - (784px - 100vw));
    }    
}

@media (max-width: 730px) {
    header {
        /*position: relative;*/
        padding: 32px; 
        height: 96px;
    }
    header > div {
        height: 32px;
        display: flex;
        justify-content: space-between;
    }
    header > div:first-of-type a {
        height: 32px;
    }
    #logo {
        height: 32px;
    }

    #menuH {
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 17px;
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
    #menuH span,
    #menuH span::after,
    #menuH span::before {
        content:"";
        width: 24px;
        height: 3px;
        background-color:var(--very-dark-blue);
        display:block;  
    }
    #menuH span::after,
    #menuH span::before{
        position:absolute;
        transition: transform 0.3s; 
    }
    #menuH span::after {
        bottom: 0px;  
    }
    #menuH span::before {
        top: 0px;
    }
    #menuH.is-active span{
        width: 21px; /* error model ? adjust */
        background-color:transparent;
    }
    #menuH.is-active span:after {
        transform:rotate(-45deg) translateY(-7px) translateX(3px);
    }
    #menuH.is-active span:before {
        transform:rotate(45deg) translateY(7px) translateX(3px);
    }

    #menu {
        position: absolute;
        z-index: 1000;
        top: 96px;
        bottom:0;
        right:0;
        width: 0;
        height: 235px;
        transition: all 0.3s;
    }

    #menu.is-open {
        width: 100%;
    }

    #menu-curtain {
        position: absolute;
        z-index: 999;
        top: 96px;
        bottom:0;
        right:0;
        width: 0;
        transition: all 0.3s;
    }

    #menu-curtain.is-open {
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    header ul {
        font-size: 18px;
        height: 235px;
        background-color: var(--very-light-grey);
        width: calc(100% - 32px);
        margin-left: 32px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0px 46px 0px;
    }
    header ul li {
        margin-left: 48px;
    }
}