#slider-hero {
    position: relative;
}

.swiper-container {
    width: 100%;
    cursor: grab;
    height: 720px;
    position: static; 
}

.swiper-slide {
    position: relative; 
}

.swiper-container img {
    width: 100%;
    height: 720px;
    object-fit: cover;
    object-position: top;
}

.swiper-slide picture::after {
    position: absolute;
    content:"";   
    height: 100%; 
    width:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.35);
}
.swiper-pagination {
    bottom: 0px !important;
    width: 320px !important;
    left: -80px !important;
    z-index: 2;
}
.swiper-pagination-bullet {
    width: 80px;
    height: 80px;
    color: var(--medium-grey);
    border-radius: 0;
    font-weight: bold;
    padding: 28.5px 0px;
    margin: 0 !important;
    opacity: 1;
    background: white;
    transition: all 0.3s;
}

.swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
    background: var(--very-light-grey);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: var(--very-dark-blue);
}

.carousel-hero-info {
    position: absolute;
    width: 544px;
    height: 361px;
    top:189px;
    left:191px;
    color: white;
}

.carousel-hero-info h1 {
    margin-bottom: 8px;
}

.carousel-hero-info p {
    width: 445px;
    margin-bottom: 37px;
    font-weight: 500;
    color: white;
}

@media (max-width: 1200px) {
    .carousel-hero-info {
        left:58px;
    }
}

@media (max-width: 785px) {
    .swiper-pagination {
        display: none;
    }
}

@media (max-width: 580px) {
    .carousel-hero-info {
        max-width: 311px;
        height: 340px;
        top: 116px;
        left: 32px;
    }
    .carousel-hero-info p {
        width: 100%;
        margin-bottom: 57px;
    }
    .carousel-hero-info h1 {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1.2px;
        margin-bottom: 10px;
    }
    .swiper-container {
        height: 560px;
    }
    .swiper-container img {
        height: 560px;
    }
}

@media (max-width: 350px) {
    .carousel-hero-info {
        width: calc(305px - (350px - 100vw));
        top: 70px;
        left: 25px;
    }
}